@page "/transformador/{referencia}"
@using NetCoreAPIYFrontBlazor.Client.Services
@using NetCoreAPIYFrontBlazor.Shared
@inject ITransformadoresService _transformadoresService
@inject NavigationManager Navigation

<PageTitle>Transformador</PageTitle>

<h3>Transformador</h3>

@if (transformador == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <EditForm Model="transformador" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="referencia" class="form-label">Referencia</label>
            <InputText id="referencia" class="form-control" @bind-Value="transformador.referencia" Disabled="@(transformador.referencia != "0" && !string.IsNullOrEmpty(transformador.referencia))" />
        </div>

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <InputText id="nombre" class="form-control" @bind-Value="transformador.nombre" />
            <ValidationMessage For="@(() => transformador.nombre)" />
        </div>

        <div class="mb-3">
            <label for="detalle" class="form-label">Detalle</label>
            <InputTextArea id="detalle" class="form-control" @bind-Value="transformador.detalle" />
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="button" class="btn btn-secondary" @onclick="Volver">Volver</button>
    </EditForm>
}

@code {
    [Parameter]
    public string? referencia { get; set; }

    private TransformadorDto? transformador;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(referencia) && referencia!="0")
        {
            transformador = await _transformadoresService.GetTransformadorPorReferencia(referencia);
        }
        else
        {
            transformador = new();
        }
    }

    private async Task Guardar()
    {
        if (transformador != null)
        {
            await _transformadoresService.ActualizarTransformador(transformador);
            Navigation.NavigateTo("/listatransformadores");
        }
    }

    private void Volver()
    {
        Navigation.NavigateTo("/listatransformadores");
    }
}
